{
    email {$CADDY_EMAIL}
}

{$DOMAIN} {
    reverse_proxy {$COMPOSE_PROJECT_NAME}-bot:8080

    log {
        output file /var/log/caddy/access.log
        format json
    }
}

grafana.{$DOMAIN} {
    reverse_proxy {$COMPOSE_PROJECT_NAME}-grafana:3000

    log {
        output file /var/log/caddy/access.log
        format json
    }
}