{
    email {$CADDY_EMAIL}
}

minesweeper-bot.duckdns.org {
    reverse_proxy tgbot-bot:8080

    log {
        output file /var/log/caddy/access.log
        format json
    }
}

grafana.minesweeper-bot.duckdns.org {
    reverse_proxy grafana:3000

    log {
        output file /var/log/caddy/access.log
        format json
    }
}